<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>index</title>-->

<!--</head>-->
<!--<body>-->
<!--<h1>index</h1>-->
<!--{{#sensor}}-->
<!--    {{#id}}-->
<!--        <h2 id="id">{{id}}</h2>-->
<!--    {{/id}}-->
<!--    {{^id}}-->
<!--        <h2 id="id">ID 없음</h2>-->
<!--    {{/id}}-->
<!--    {{#timestamp}}-->
<!--        <h2 id="timestamp">{{timestamp}}</h2>-->
<!--    {{/timestamp}}-->
<!--    {{^timestamp}}-->
<!--        <h2 id="timestamp">시간 없음</h2>-->
<!--    {{/timestamp}}-->

<!--    <h2 id="temp">{{temp}}</h2>-->
<!--    <h2 id="hum">{{hum}}</h2>-->
<!--    &lt;!&ndash; mode는 null 체크 및 기본 메시지 처리 &ndash;&gt;-->
<!--    {{#mode}}-->
<!--        <h2 id="mode">{{mode}}</h2>-->
<!--    {{/mode}}-->
<!--    {{^mode}}-->
<!--        <h2 id="mode">데이터가 없습니다.</h2>-->
<!--    {{/mode}}-->

<!--    <h2 id="speed">{{speed}}</h2>-->
<!--    <h2 id="pm2_5">{{pm2_5}}</h2>-->
<!--    <h2 id="pm10">{{pm10}}</h2>-->
<!--    <h2 id="powerUsage">{{powerUsage}}Wh</h2>-->

<!--    <hr>-->
<!--{{/sensor}}-->


<!--<script src="/sensor.js"></script>-->
<!--</body>-->
<!--</html>-->